* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    align-items: center;
    width: auto;
    padding: 20px;
    overflow: hidden;
}



nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    text-transform: capitalize;
}

a {
    text-decoration: none;
    color: #555;
}

p {
    color: #555;
}


.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.col-2 {
    flex-basis: 50%;
    max-width: 700px;
}

.col-2 img {
    max-width: 100%;
    padding-top: 20%;
    overflow: hidden;
}

.col-2 h1 {
    text-transform: capitalize;
    font-size: 50px;
    line-height: 60px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover {
    background: #563434;
}

.header {
    background: radial-gradient(#fff, #ffd6d6);
}

.categories {
    margin: 20px 0;
}

.col-3 {
    max-width: 300px;
    margin-top: 30px;
}

.col-3 img {
    width: 100%;
    border-radius: 10px;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    transition: 0.5s;
}

.col-4 img {
    width: 100%;
    border-radius: 20px;
    margin-top: 10px;
}

.title {
    text-align: center;
    margin: 0 auto 30px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after {
    content: "";
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

h4 {
    color: #555;
    font-weight: normal;
}

.col-4 p {
    font-size: 14px;
}

.col-4:hover {
    transform: translateY(-20px);
}

/********** offer ******/

.offer {
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 40px;
    padding: 30px 0;
}

.col-2 .offer-img {
    padding: 50px;
}

/* Testimonial */

.testimonial {
    margin-top: 20px;
    cursor: pointer;
}

.testimonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    transition: 0.5s;
}

.testimonial .col-3 img {
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.testimonial .col-3:hover {
    transform: translateY(-10px);
}

.col-3 p {
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

.testimonial .col-3 h3 {
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

.brands {
    margin: 100px auto;
}

.col-5 {
    width: 160px;
}

.col-5 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover {
    filter: grayscale(0);
}

/* footer*/

.footer {
    background-color: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
    width: auto;
}

.footer p {
    color: #8a8a8a;
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
    max-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 30%;

}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

.footer-col-2 img {
    width: 180px;
    margin: bottom 20px;
}

.footer-col-3,
.footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}

ul {
    list-style: none;
}

.app-logo {
    margin-top: 20px;
}

.app-logo img {
    width: 140px;
}

.logo {
    margin-left: 20px;
}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}

@media (max-width:600px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        width: auto;
    }

    .mobileMenu__icons {
        display: flex;
        align-items: center;
        margin-right: 20px;
    }

    .menu-icon {
        display: block;
    }

    nav {
        display: none;
    }

    .row {
        display: flex;
        flex-direction: column;
        margin: 0;
        overflow: hidden;
        align-items: center;
        margin: auto;
    }

    .footer-col-1 {
        margin-left: 50px;
    }
}

@media (max-width:1000px) {
    .row {
        width: 60%;
    }
}